<!-- app/templates/admin/rankings/ranking.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}XRankings{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">{{leaguename}} Rankings</h1>
        {% if data %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="5%"> Rank </th>
                  <th width="25%"> Team </th>
                  <th width="10%"> W </th>
                  <th width="10%"> L </th>
                  <th width="15%"> Win % </th>
                  <th width="10%"> GB </th>
                  <th width="15%"> Magic Number </th>
                  <th width="20%"> Playoff Eligible </th>
                </tr>
              </thead>
              <tbody>
              {% for rank in data %}
                <tr>
                  <td> {{ data[rank]['place'] }} </td>
                  <td> {{ data[rank]['name'] }} </td>
                  <td> {{ data[rank]['wins'] }}</td>
                  <td> {{ data[rank]['losses'] }}</td>
                  <td> {{ data[rank]['winning percentage'] }}
                  <td> {{ data[rank]['GB'] }}</td>
                  <td> {{ data[rank]['magic'] }} </td>
                  <td> {{ data[rank]['eligible'] }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No teams have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
        {% if admin_status == '1' %}
            <a href="{{ url_for('admin.rankings_text', leaguename=leaguename,
            rankings_message=rankings_message) }}" class="btn btn-default btn-lg">
              <i class="fa fa-plus"></i>
              Send Rankings Update
            </a>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
