<!-- app/templates/admin/teams/team.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_team %}
        Add Team
    {% else %}
        Edit Team
    {% endif %}
{% endblock %}
{% block body %}
<div>
  <br>
  {% if add_team %}
    <div class="add-edit-title">Add Team to {{league_name}}</div>
  {% else %}
    <div class="add-edit-title">Edit {{teamname}} for {{league_name}}</div>
  {% endif %}
  <br>
  <div class="add-edit-format">
    {{ wtf.quick_form(form) }}
  </div>
</div>
{% endblock %}
