/* app/static/css/style.css */

body, html {
    width: 100%;
    height: 100%;
}

body, h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

a {
/* Color of section titles at top of navigation bar*/
  color: black;
  font-size: 14px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
/* Color of section titles at top of navigation bar*/
  color: black;
  font-size: 18px;
}


.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    /* Deep Skye Blue */
    background-color: black;
    color: orange;
}

a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  /* hover for navigation bar */
  color: mediumseagreen;
}

/* color of button when mouse hovers over button */
.btn-default:hover {
    background-color: mediumseagreen;
    color: black;
}

.btn-default {
    border-color: black;
    color: mediumseagreen;
    font-weight: bold;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

table.team-table {
  width: 700px;
  border-spacing: 4px;
  margin: 0px auto;
  border-color: 4px solid green;
}

table.user-table {
  width: 800px;
  border-spacing: 4px;
  margin: 0px auto;
  border-color: 4px solid green;
}

table.league-table {
  width: 1000px;
  border-spacing: 4px;
  margin: 0px auto;
  border-color: 4px solid green;
}

table.ranking-table {
  width: 700px;
  border-spacing: 4px;
  margin: 0px auto;
  border-color: 4px solid green;
}

table.event-table {
  width: 800px;
  border-spacing: 4px;
  margin: 0px auto;
  border-color: 4px solid green;
}

/* Table headers */
th {
  text-align: center;
  background-color: mediumseagreen;
  color: black;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

tr {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #D3D3D3;
}

tr:nth-child(odd) {
  background-color: white;
}

.content-section {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

.topnav {
    font-size: 14px;
}

.alert-info {
    width: 50%;
    margin: auto;
    color: #687430;
    background-color: #e6ecca;
    border-color: #aec251;
}

.intro-divider {
  /* border-top color = line underneath title */
    width: 400px;
    border-top: 1px solid #009ACD;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    /* color of text on dashboard */
    color: mediumseagreen;
    /*
    background: url(../img/intro-bg.jpg) no-repeat center center;
    */
    background-size: cover;
    background-color: black;
    height: 100%;
}

  /* DROP DOWN MENU */

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown {
    float: left;
    overflow: hidden;
}

/*

--> This misaligned tables to the right

.center {
    margin: auto;
    width: 50%;
    padding: 10px;

*/

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

/*

.wrapper {
  margin: 0 auto -4em;
}

*/

p.copyright {
    margin: 15px 0 0;
}

.footer, .push {
  clear: both;
  height: 4em;
}


.footer, .push {
  clear: both;
  height: 4em;
}

p.copyright {
    margin: 15px 0 0;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.outer {
    display: table;
    height: 70%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.show {
    display: block;
}

.color-link {
  color: black;
  text-shadow: 0 0 3px mediumseagreen;
}

/*
.title-label {
  color: mediumseagreen;
}
*/
