<!-- app/templates/admin/events/events.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block body %}
<div>
  <div>
    <div>
      <div>
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;"> << {{league_name}} Users >></h1>
        <br>
          <div>
            <table align="center" class="user-table">
        {% if updates %}
            <thead>
              <tr>
                <th width="22%"> Username </th>
                <th width="18%"> Admin </th>
                {% if admin_status == '1' %}
                  <th width="8%"></th>
                  <th width="8%"></th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for user in updates %}
                <tr>
                  <td> {{ user.username }} </td>
                  {% if user.is_admin == '1' %}
                    <td> Yes </td>
                  {% elif user.is_admin == '0' %}
                    <td> No </td>
                  {% endif %}
                  {% if admin_status == '1' and (current_username != user.username ) %}
                    <td>
                      <a href="{{ url_for('home.edit_user', username=user.username, league_name=league_name) }}">
                        <i class="fa fa-pencil"></i> Edit
                      </a>
                    </td>
                    <td>
                      <a href="{{ url_for('home.delete_user', username=user.username, league_name=league_name) }}">
                        <i class="fa fa-trash"></i> Delete
                      </a>
                    </td>
                  {% elif admin_status == '1' %}
                    <td>
                    </td>
                    <td>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
              <!-- then print out the all of the updated users -->
            </tbody>
          </table>
        </div>
        <div style="text-align: center">
        {% else %}
          <h3> No users have been added. </h3>
        {% endif %}
        {% if admin_status == '1' %}
        <br/>
          <a href="{{ url_for('home.add_user', league_name=league_name) }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
              Invite user to {{league_name}}
          </a>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
