<!-- app/templates/admin/events/events.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Game Results{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">{{league_name}} Game Results</h1>
        <hr class="intro-divider"></hr>
        {% if events %}
          <div>
            <table align="center" class="event-table">
              <thead>
                <tr>
                  <th width="14%"> Date </th>
                  <th width="25%"> Winner </th>
                  <th width="25%"> Loser </th>
                  <th width="10%"> Winning Score </th>
                  <th width="10%"> Losing Score </th>
                  {% if admin_status == '1' %}
                    <th width="8%"></th>
                    <th width="8%"></th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
              {% for event in events %}
                <tr>
                  <td> {{ event.day }} </td>
                  <td> {{ event.winner }} </td>
                  <td> {{ event.loser }} </td>
                  <td> {{ event.winning_score }} </td>
                  <td> {{ event.losing_score }} </td>
                  {% if admin_status == '1' %}
                  <td>
                    <a href="{{ url_for('home.edit_event', league_name=league_name, id=event.id) }}">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('home.delete_event', league_name=league_name, id=event.id) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                  {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No game results have been added. </h3>
        {% endif %}
        {% if admin_status == '1' %}
        <br/>
          <a href="{{ url_for('home.add_event', league_name=league_name) }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Game Result
          </a>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
