<!-- app/templates/admin/events/event.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_event %}
        Add Event
    {% else %}
        Edit Event
    {% endif %}
{% endblock %}
{% block body %}
<div>
  <br>
  {% if add_event %}
    <div class="add-edit-title">Add Event</div>
  {% else %}
    <div class="add-edit-title">Edit Event</div>
  {% endif %}
  <br/>
  <div class="add-edit-format">
    {{ wtf.quick_form(form) }}
  </div>
</div>
{% endblock %}
