<!-- app/templates/admin/rankings/ranking.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}XRankings{% endblock %}
{% block body %}
<div>
  <div>
    <div>
      <div>
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;"> << {{league_name}} Rankings >> </h1>
        <br>
        {% if data %}
          <div>
            <table class="ranking-table">
              <thead>
                <tr>
                  <th width="5%"> Rank </th>
                  <th width="25%"> Team </th>
                  <th width="5%"> W </th>
                  <th width="5%"> L </th>
                  <th width="7%"> Win PCT </th>
                  <th width="8%"> GB </th>
                  {% if information == True %}
                    <th width="9%"> Magic Number </th>
                    <th width="12%"> Playoff Status </th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
              {% for rank in rankings %}
                <tr>
                  <td> {{ rank.place }} </td>
                  <td> {{ rank.team }} </td>
                  <td> {{ rank.wins }}</td>
                  <td> {{ rank.losses }}</td>
                  <td> {{ percents[rank.team] }} </td>
                  <td> {{ rank.games_behind }}</td>
                  {% if information %}
                    <td> {{ rank.magic_number }} </td>
                    <td> {{ rank.status }} </td>
                  {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No teams have been added. </h3>
            <hr>
        {% endif %}
        {% if admin_status == '1' %}
        <br/>
            <a href="{{ url_for('home.rankings_text', league_name=league_name,
            rankings_message=rankings_message) }}" class="btn btn-default btn-lg">
              Send Rankings Update
            </a>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
