<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title> {{ title }} | League Tracker </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    test
</head>
<body>
  start of body with dev two
    <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
          {% if league_name %}
            <li><a href="{{ url_for('home.list_rankings', league_name=league_name)  }}">Rankings</a></li>
            <li><a href="{{ url_for('home.list_teams', league_name=league_name) }}">Teams</a></li>
            <li><a href="{{ url_for('home.list_events', league_name=league_name) }}">Game Results</a></li>
            <li><a href="{{ url_for('home.list_users', league_name=league_name) }}">Users</a></li>
          {% endif %}
          <li><a href="{{ url_for('home.list_leagues') }}">Leagues</a></li>
          <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% else %}
          <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
          <li><a href="{{ url_for('auth.register') }}">Register</a></li>
          <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        {% endif %}
    </ul>
</body>
</html>
