<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title> {{ title }} | League Tracker </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
  <div class="wrapper-two">
    <div class="main-panel">
      <div class="title-panel"> League Tracker
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
      </div>
      <div class="panel-divider"></div>
      <br>
      {% if current_user.is_authenticated %}
        <div class="current-user"> CURRENT USER
          <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          {{current_user.username}}
        </div>
        <br>
        <div class="panel-divider"></div>
        <br>
      <div>
        <button id="title-panel-button" type="button" aria-haspopup="true" aria-expanded="true">
          <li><a href="{{ url_for('home.list_leagues') }}" class="action-item">League Information</a></li>
        </button>
        <br>
        <div class="panel-divider"></div>
        <br>
        <div class="league-list"> ADMIN LEAGUES
          <br>
          {% for league in admin_leagues %}
          <div class="dropdown">
            <button class="title-panel-league-button" type="button" aria-haspopup="true" aria-expanded="true">
              {{league}}
              <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            </button>
            <div class="dropdown-content" class="title-panel-button">
              <a href="{{ url_for('home.list_rankings', league_name=league, admin_leagues=admin_leagues, user_leagues=user_leagues) }}">Rankings</a>
              <a href="{{ url_for('home.list_teams', league_name=league, admin_leagues=admin_leagues, user_leagues=user_leagues) }}">Teams</a>
              <a href="{{ url_for('home.list_events', league_name=league, admin_leagues=admin_leagues, user_leagues=user_leagues) }}">Game Results</a>
              <a href="{{ url_for('home.list_users', league_name=league, admin_leagues=admin_leagues, user_leagues=user_leagues) }}">Users</a>
            </div>
          </div>
          {% endfor %}
        </div>
        <br>
        <div class="panel-divider"></div>
        <br>
        <div class="league-list"> USER LEAGUES
          {% for league in user_leagues %}
          <div class="dropdown">
            <button class="title-panel-league-button" type="button" aria-haspopup="true" aria-expanded="true">
              {{league}}
              <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            </button>
            <div class="dropdown-content" class="title-panel-button">
              <a href="{{ url_for('home.list_rankings', league_name=league, admin_leagues=admin_leagues, user_leagues=user_leagues) }}">Rankings</a>
              <a href="{{ url_for('home.list_teams', league_name=league, admin_leagues=admin_leagues, user_leagues=user_leagues) }}">Teams</a>
              <a href="{{ url_for('home.list_events', league_name=league, admin_leagues=admin_leagues, user_leagues=user_leagues) }}">Game Results</a>
              <a href="{{ url_for('home.list_users', league_name=league, admin_leagues=admin_leagues, user_leagues=user_leagues) }}">Users</a>
            </div>
          </div>
          {% endfor %}
        </div>
        <br>
        <div class="panel-divider"></div>
        <br>
      </div>
      <br><br>
        <div class="action-item" text-align="right">
          <button id="title-panel-button" aria-haspopup="true" aria-expanded="true">
            <li><a href="{{ url_for('auth.logout') }}" class="logout" >LOGOUT</a></li>
          </button>
        </div>
        {% else %}
          <div class="action-item">
            <button class="title-panel-button" type="button" aria-haspopup="true" aria-expanded="true">
              <li><a href="{{ url_for('auth.register') }}" class="action-item">Register</a></li>
            </button>
            <br>
            <button class="title-panel-button" type="button" aria-haspopup="true" aria-expanded="true">
              <li><a href="{{ url_for('auth.login') }}" class="action-item">Login</a></li>
            </button>
          </div>
        {% endif %}
        </div>
    <div class="table-panel">
      <div>
        {% block body %}
        {% endblock %}
        <br>
        <div class="push"></div>
      </div>
    </div>
  </div>
</body>
</html>
